main/**/*.map
main/**/*.min.css
main/**/*.min.js
main/assets/css/main.scss
main/assets/js/search-data.js
main/assets/js/distillpub/template.v2.js
main/assets/js/search/*.js
main/assets/plotly/demo.html
lighthouse_results/**
main/_sass/font-awesome/*.scss
main/_sass/tabler-icons/*.scss
