@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #fafaf9;
  --muted-background: #f9f8f1;
  --surface: #f5f4ea;
  --muted-surface: #ede9d8;
}

@theme {
  --font-sans: var(--font-inter), sans-serif;
  --font-display: var(--font-cabinet), sans-serif;

  --color-background: var(--background);
  --color-muted-background: var(--muted-background);
  --color-surface: var(--surface);
  --color-muted-surface: var(--muted-surface);
}

@layer base {
  h1 {
    @apply font-display text-4xl font-bold;
  }
  h2 {
    @apply font-display text-2xl;
  }
  h3 {
    @apply font-display text-xl;
  }
}
